@import forms.auth.EmailForm
@(form: Form[EmailForm])(implicit request: RequestHeader, messages:  play.api.i18n.Messages, assets: AssetsFinder)

@implicitFieldConstructor = @{
	b4.horizontal.fieldConstructor("col-4", "col-8")
}

@mainUnauthorized(messages("user.forgot.password.title")) {
	<div id="create">
		<div class="logo">
			<h3 class="box-title mb-3">@messages("user.forgot.password.email")</h3>
		</div>

		<div class="row">
			<div class="col-12">
				@helper.form(action = controllers.routes.UserController.sendResetPasswordWithoutLogin) {
					@helper.CSRF.formField

					@b4.email(form("email"), '_label -> messages("user.email"), 'placeholder -> messages("user.email"), 'class -> "form-control")

					<div class="form-group text-center mb-3">
						<div class="col-xs-12">
							<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">@messages("user.forgot.password.send")</button>
						</div>
					</div>
				}

				<div class="form-group mb-0 mt-2 ">
					<div class="col-sm-12 text-center ">
						@messages("user.sign.in.question")<a href="@routes.AuthController.login" class="text-info ml-1 ">@messages("user.sign.in")</a>
					</div>
				</div>

				<div class="form-group mb-0 mt-2 ">
					<div class="col-sm-12 text-center ">
						@messages("user.sign.in.question")<a href="@routes.UserController.register" class="text-info ml-1 ">@messages("user.sign.up")</a>
					</div>
				</div>
			</div>
		</div>
	</div>
}
