@import java.util.UUID
@import forms.auth.ResetPasswordForm
@(id: UUID, token: String, form: Form[ResetPasswordForm])(implicit request: RequestHeader, messages:  play.api.i18n.Messages, assets: AssetsFinder)

@implicitFieldConstructor = @{
	b4.horizontal.fieldConstructor("col-sm-3", "col-sm-8", "col-md-3", "col-md-8")
}

@mainUnauthorized(Messages("user.reset.password.title")){
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
			<div class="p-5">
				<div class="text-center">
					<h1 class="h4 text-gray-900 mb-4">@Messages("user.reset.password.title")</h1>
				</div>

				@helper.form(action = controllers.routes.UserController.savePasswordWithoutLogin(id, token), 'class -> "user") {
					@helper.CSRF.formField

					@b4.password(form("password"), '_label -> messages("user.password"), 'placeholder -> messages("user.password"), 'class -> "form-control form-control-user")
					@b4.password(form("reEnterPassword"), '_label -> messages("user.reEnter.password"), 'placeholder -> messages("user.reEnter.password"), 'class -> "form-control form-control-user")

					<hr>

					<button id="submit" type="submit" value="submit" class="btn btn-info btn-user btn-block">@messages("button.save.change")</button>

					<hr>
				}
			</div>
		</div>
	</div>
}
