@(title: String, args: (Symbol, Any)*)(content: Html)(implicit loggedIn: User, request: RequestHeader, messages:  play.api.i18n.Messages, assets: AssetsFinder)

<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@assets.path("stylesheets/main.css")">
        <script src="@assets.path("javascripts/main.js")"></script>
    </head>

    <body>
        <header>
            <section class="upSectionHeader">

            </section>

            <section class="downSectionHeader">
                <div class="row">
                    <img src="#" alt="logo">
                </div>

                <menu class="row">
                    <ul class="row">
                        <li class="row">
                            <a href="#">
                                <button>@messages("page.home")</button>
                            </a>
                        </li>

                        <li class="row">
                            <a href="#">
                                <button>@messages("page.test")</button>
                            </a>
                        </li>
                    </ul>
                </menu>

                <div class="row profileWindow">

                </div>
            </section>
        </header>

        <main>
            @content
        </main>

        <footer>
            <menu class="row">
                <ul class="row">
                    <li class="row">
                        @messages("footer.part.1")
                    </li>

                    <li class="row">
                        @messages("footer.part.2")
                    </li>
                </ul>
            </menu>
        </footer>
    </body>
</html>
