@(title: String, args: (Symbol, Any)*)(content: Html)(implicit request: RequestHeader, messages:  play.api.i18n.Messages, assets: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>

        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        <div class="main-wrapper">
            <div class="preloader">
                <div class="lds-ripple">
                    <div class="lds-pos"></div>
                    <div class="lds-pos"></div>
                </div>
            </div>

            <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(@assets.path("images/desk.jpg")) no-repeat center center; background-size: cover;">
                <div class="auth-box p-3 bg-white rounded">
                    <div>
                        <div class="company-logo-mainUnauthorized-page">
                            <img id="logo_pm_building_not_logged" src="#"/>
                        </div>

                        @notifications()

                        @content
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
